.scroll-container {
  height: 100%;
  width: 100%;
  position: relative;
  * {
    box-sizing: border-box;
  }
  .swiper-slide {
    height: auto;
  }
  .swiper-scrollbar {
    width: 6px;
    background: transparent;
    .swiper-scrollbar-drag {
      background: rgba(138, 138, 138,.8);
    }
  }
}
