.footer-component{
    width: 100%;
    height: $footerHeight;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(27, 27, 28, .8);
    .footer-navs{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .tabs-item{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: #707070;
            font-size: 20px;
            transition: color 0.3s;
            >div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                svg{
                    font-size: 35px;
                    margin-bottom: 8px;
                }
            }
            &.active{
                color: #ff4033;
            }
        }
    }

}